@charset "utf-8";
/* CSS Document */

/*===== Reset =====*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; } 

/*===== Basic Elements =====*/
body{
}
h1, h2, h3{
}
h2{
	margin:8px 0;
}
h3{
	margin:19px 0 8px 0;
}
h4, h5, h6{
}
p{
}
*+p, *+code, *+blockquote{
	margin-top:1.2em;
}
a{
}
em{
}
blockquote{
	width:680px;
	padding:15px;
}
code {
	white-space:pre;
	padding:3px 0 3px 8px;
	margin:10px 0;
	display:block;
}
p code, label code{
	display:inline;
	padding:0;
	margin:0;
	border-width:0;
	line-height:inherit;
}
ul{
	list-style:none;
}
li{
}
li li{
	margin-left:1.7em;
}
form{
}
input[type=text],input[type=password],textarea{
	margin:1px 1px 6px 1px;
	float:left;
}
input[type=text]:hover, input[type=password]:hover ,textarea:hover,
input[type=text]:focus, input[type=password]:focus ,textarea:focus {
	margin:0 0 5px 0;
	border-width:2px;
}
input[type=text],input[type=password]{
	width:200px;
	height:17px;
	padding:2px;
}
textarea{
	width:auto;
}
input[type=submit]{
	padding:7px 28px;
	float:right;
	border-width:0;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
input[type=radio], input[type=checkbox]{
	margin-right:10px;
	float:left;
	clear:left;
}
label{
	padding:4px 0;
	margin:0 0 5px 0;
	height:17px;
	min-width:90px;
	float:left;
}
table {
	max-width:100%;
	min-width:40%;
	margin:10px auto;
	border-collapse:collapse;
	table-layout:fixed;
}
th, td {
	padding:.5em 10px .5em 15px;
}
td,th{
	vertical-align:top;
	text-align:left;
}
/*===== Generic Classes =====*/
/*===== Header ======*/
#header{
	width:790px;
	height:50px;
	margin:0 auto;
}
#logo{
	width:170px;
	height:50px;
	float:left;
}
#nav{
	list-style:none;
	width:500px;
	height:50px;
	float:right;
}
#nav li{
	width:100px;
	height:50px;
	float:left;
}
#nav li a{
	width:100px;
	height:14px;
	padding:18px 0;
	display:block;
	text-align:center;
}
/*===== Content =====*/
#content{
	width:710px;
	padding:20px 40px 30px 40px;
	margin:0 auto;
}
#course_nav_bar{
	width:715px;
	height:35px;
	padding:5px 40px 0 35px;
	margin:-20px -40px 0 -40px;
	float:left;
}
#course_nav_bar li{
	width:100px;
	height:35px;
	margin:0 0 0 5px;
	float:left;
	text-align:center;
}
#course_nav_bar li a{
	width:100px;
	height:15px;
	padding:8px 0 12px 0;
	display:block;
}
#course_outline{
	width:420px;
	float:left;
}
#course_progress{
	width:250px;
	float:right;
}
/*===== Questions ======*/
#questions{
	width:710px;
	padding:20px 40px 30px 40px;
	margin:0 auto;
}
#questions li{
	width:100%;
	margin-bottom:15px;
	float:left;
}
/*===== Footer =====*/
#footer{
	width:790px;
	height:14px;
	margin:0 auto;
	padding:2px;
	clear:both;
	text-align:center;
}
/*===== Login Form ======*/
#login_wrap{
	width:720px;
	margin:0px auto;
	padding;
	}
	
#login_content{
	background:#fff;
	width:290px;
	min-height:250px;
	padding:20px 190px 20px 40px;
	float:left;
}
#login_form{
	width:300px;
	padding:25px 25px 10px 25px;
	margin:65px 0 0 -150px;
	float:left;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
#login_form input[type=checkbox]{
	margin-left:90px;
}
#login_form a{
	margin-top:12px;
	float:left;
}
#login_form input[type=submit]{
	margin-top:4px;
}
#login_wrap + #footer{
	width:530px;
	padding:2px 190px 0 0;
}
/*===== Silly Hacks ======*/
hr.hidden{
	clear:both;
	visibility:hidden;
}

#circuitBackground {
	margin:0;
	padding:70px 0 200px 0;
	background-image:url(../images/surrounding_bg3.png);
	background-repeat:repeat;
	
	}
	
#installGuide {
	background-image:url(../images/surrounding_bg3.png);
	background-repeat:repeat;
	}
	
#contentBox {
	background-image:url(../images/BackgroundBlue600.png);
	background-repeat:repeat;
	margin:30px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	padding:30px 30px 30px 5px;
	height:540px;	}
	
#contentBox h2, #contentBox h4 {
	margin-left:30px;
		}
		
#contentBox ol {
	margin:0 30px 0 60px;
	line-height:110%;
		}
		
#contentBox li {
	font-size:.95em;;
	margin-bottom:8px;
		}
		
#InfoBoxClose {
	text-align:center;
	margin:30px auto;	}

#InfoBoxClose a {
	display:block;
	margin:0 auto;
	width:9em;
	padding:5px 0;
	font: bold 100% Verdana,Arial,sans-serif;
    text-transform:uppercase;
    background: #6883BA;
    color: #333;
    text-decoration:none;
    text-align:center; 
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;}
    
#InfoBoxClose a:hover{
	background: #FFFF00;
	color:#333	}